<!doctype html>
<html>
<head>
    <script src="https://d3js.org/d3.v4.min.js"></script>
</head>
<body>
    <p id="table">test</p>
    <p id="table2"></p>
    <p>Here is your data:</p>
    <% for (var i = 0; i < employees.length; i++) { %>
        <td><%= employees[i] %></td>
      <% } %>
</body>
</html>